USE [master]
GO
/****** Object:  Database [Concessionario]    Script Date: 25/08/2021 11:30:41 ******/
CREATE DATABASE [Concessionario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Concessionario', FILENAME = N'C:\Users\noemi.more\Concessionario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Concessionario_log', FILENAME = N'C:\Users\noemi.more\Concessionario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Concessionario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Concessionario]
GO
USE [Concessionario]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 25/08/2021 11:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[SeatsNumber] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVeicolo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 25/08/2021 11:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[Supply] [nvarchar](50) NOT NULL,
	[DoorsNumber] [int] NOT NULL,
	[IdVeicolo] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motocycle]    Script Date: 25/08/2021 11:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motocycle](
	[ProductionYear] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVeicolo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veicolo]    Script Date: 25/08/2021 11:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veicolo](
	[Brand] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Veicolo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
